{% load static %}
<html>
<head><title>Shirts</title></head>
<style>
H1{font-weight:bold;font-family:Copperplate Gothic;font-size:48pt;color:black;text-decoration:underline}
H2{font-weight:bold;font-family:Copperplate Gothic;font-size:24pt;color:black}
</style>
<body Background="{% static 'b4.JPG' %}">

<body>
A website by Piyush
<hr1><br>
<marquee>
<img width='150' height='100' Hspace='5' src="{% static 'm5.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm6.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm7.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm8.JPG' %}">
</marquee>
<center><H1>SHIRTS IN TRENDS</H1>
<img width='600' height='550' Hspace='5'  src="{% static 't1.JPG' %}"/>
<H2>FORMAL WEAR SHIRTS</H2>
<img  width='600' height='550' Hspace='5'  src="{% static 't2.JPG' %}">
<H2>CLUB WEAR SHIRTS</H2>
<img  width='600' height='550' Hspace='5'  src="{% static 't3.JPG' %}">
<H2>PARTY WEAR SHIRTS</H2>
<img width='600' height='550' Hspace='5' src="{% static 't4.JPG' %}">
<H2>CASUAL WEAR SHIRTS</H2>
<a href='http://localhost:8000/orders/'><font color='FF00CC'>CLICK HERE TO ORDER</a>
</center>
</body>
</html>