{% load static %}
<html>
<head>
<title>Shoes</title>
</head>
<style>
H1{font-weight:bold;font-family:Copperplate Gothic;font-size:48pt;color:black;text-decoration:underline}
H2{font-weight:bold;font-family:Copperplate Gothic;font-size:24pt;color:black}
</style>
<body Background="{% static 'b3.JPG' %}">

<body>
A website by Piyush
<hr1><br>
<marquee>
<img width='150' height='100' Hspace='5' src="{% static 'm13.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm14.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm15.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm16.JPG' %}">
</marquee>
<center><H1>SHOES IN TRENDS</H1><center>
<img width='600' height='550' Hspace='5'  src="{% static 's1.JPG' %}">
<H2>FORMAL WEAR SHOES<H2>
<img  width='600' height='550' Hspace='5'  src="{% static 's2.JPG' %}">
<H2>SPORTS SHOES<H2>
<img  width='600' height='550' Hspace='5'  src="{% static 's3.JPG' %}">
<H2> SNEAKERS<H2>
<img width='600' height='550' Hspace='5' src="{% static 's4.JPG' %}">
<H2>BOOTS<H2>
<a href='http://localhost:8000/orders/'><font color='FF00CC'>CLICK HERE TO ORDER</a>
</body>
</html>