{% load static %}
<html>
<head><title>WELCOME TO TRENDS</title></head>
<style>
H1{font-weight:bold;font-family:Copperplate Gothic;font-size:48pt;color:black;text-decoration:underline}
H2{font-weight:bold;font-family:Copperplate Gothic;font-size:24pt;color:black}
</style>
<body Background="{% static 'b7.JPG' %}">

<body>
A website by Piyush
<hr1><br>
<marquee>
<img width='150' height='100' Hspace='5' src="{% static 'm17.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm18.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm19.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm20.JPG' %}">
</marquee>
<center><H1>WELCOME TO TRENDS</H1>
<img width='600' height='550' Hspace='5'  src="{% static 'm5.JPG' %}"/>
<a href='http://localhost:8000/shirts/'><font color='FF00CC'>CLICK HERE TO PROCEED</a>
<H2>SHIRTS</H2>
<img  width='600' height='550' Hspace='5'  src="{% static 'n2.JPG' %}">
<a href='http://localhost:8000/trousers/'><font color='FF00CC'>CLICK HERE TO PROCEED</a>
<H2>TROUSERS</H2>
<img  width='600' height='550' Hspace='5'  src="{% static 'n3.JPG' %}">
<a href='http://localhost:8000/watches/'><font color='FF00CC'>CLICK HERE TO PROCEED</a>
<H2>WATCHES</H2>
<img width='600' height='550' Hspace='5' src="{% static 'n4.JPG' %}">
<a href='http://localhost:8000/shoes/'><font color='FF00CC'>CLICK HERE TO PROCEED</a>
<H2>SHOES</H2>
</center>
</body>
</html>