{% load static %}
<html>
<head>
<title>Trousers</title>
</head>
<style>
H1{font-weight:bold;font-family:Copperplate Gothic;font-size:48pt;color:black;text-decoration:underline}
H2{font-weight:bold;font-family:Copperplate Gothic;font-size:24pt;color:black}
</style>
<body Background="{% static 'b2.JPG' %}">

<body>
A website by Piyush
<hr1><br>
<marquee>
<img width='150' height='100' Hspace='5' src="{% static 'mt5.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'mt4.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'mt3.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'mt2.JPG' %}">
</marquee>
<center><H1>TROUSERS IN TRENDS</H1><center>
<img width='600' height='550' Hspace='5'  src="{% static 'tr1.JPG' %}">
<H2>FORMAL WEAR TROUSERS<H2>
<img  width='600' height='550' Hspace='5'  src="{% static 'tr2.JPG' %}">
<H2>CLUB WEAR TROUSERS<H2>
<img  width='600' height='550' Hspace='5'  src="{% static 'tr3.JPG' %}">
<H2>PARTY WEAR TROUSERS<H2>
<img width='600' height='550' Hspace='5' src="{% static 'tr4.JPG' %}">
<H2>CASUAL WEAR TROUSERS<H2>
<a href='http://localhost:8000/orders/'><font color='FF00CC'>CLICK HERE TO ORDER</a>
</body>
</html>