{% load static %}
<html>
<head>
<title>Watches</title>
</head>
<style>
H1{font-weight:bold;font-family:Copperplate Gothic;font-size:48pt;color:black;text-decoration:underline}
H2{font-weight:bold;font-family:Copperplate Gothic;font-size:24pt;color:black}
</style>
<body Background="{% static 'b1.JPG' %}">

<body>
A website by Piyush
<hr1><br>
<marquee>
<img width='150' height='100' Hspace='5' src="{% static 'm9.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm10.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm11.JPG' %}">
<img width='150' height='100' Hspace='5' src="{% static 'm12.JPG' %}">
</marquee>
<center><H1>WATCHES IN TRENDS</H1><center>
<img width='600' height='550' Hspace='5'  src="{% static 'w1.JPG' %}">
<H2>SMART WATCHES<H2>
<img  width='600' height='550' Hspace='5'  src="{% static 'w2.JPG' %}">
<H2>LUXURY WATCHES<H2>
<img  width='600' height='550' Hspace='5'  src="{% static 'w3.JPG' %}">
<H2>CASUAL WATCHES<H2>
<a href='http://localhost:8000/orders/'><font color='FF00CC'>CLICK HERE TO ORDER</a>
</body>
</html>